.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.searchInput {
  width: 320px;
  height: 30px;
  border: 2px solid currentColor;
  transition: border-color 250ms linear;
  outline: none;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 18px;
}

.searchInput:hover,
.searchInput:focus {
  border-color: #535bf2;
}