.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: bolder;
}

.input {
  width: 300px;

  border-radius: 5px;
  border: 2px solid rgb(109, 116, 114);
  height: 30px;
}

.btn {
  margin-top: 20px;
  display: block;
  width: 200px;
  justify-content: center;
  border: 2px solid rgb(109, 116, 114);
  color: #213547;
  font-size: 15px;
  font-weight: bolder;
}
