.formContainer {
  width: 320px;
  padding: 10px;
  border: 2px solid currentColor;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.formWrap {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
}

.formInput {}

.formError {
  color: orangered;
  margin-bottom: 16px;
  font-size: 14px;
}

.btnWrap {
  padding: 0 80px;
}

.formBtn {
  width: 160px;
}
/* .label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: bolder;
}

.input {
  width: 300px;

  border-radius: 5px;
  border: 2px solid rgb(109, 116, 114);
  height: 30px;
}

.btn {
  margin-top: 20px;
  display: block;
  width: 200px;
  justify-content: center;
  border: 2px solid rgb(109, 116, 114);
  color: #213547;
  font-size: 15px;
  font-weight: bolder;
}
 */